version: "3.8"
services:
  wordpress:
    image: wordpress:6.2
    environment:
      WORDPRESS_DB_HOST: "{{  hostvars[groups['master'][0]].ansible_host }}:3306"
      WORDPRESS_DB_USER: "{{ db_user }}"
      WORDPRESS_DB_PASSWORD: "{{ db_password }}"
      WORDPRESS_DB_NAME: "{{ db_name }}"
    ports:
      - "{{ wp_port }}:80"
    deploy:
      replicas: 2
networks:
  wp-net:

